*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #555;
}

h2{
    color: #fff;
}

.circle{
    width: 100px;
    height: 100px;
    background-color: purple;
    border-radius: 50%;
    cursor: pointer;
}

.card{
    width: 200px;
    height: 300px;
    margin-top: 50px;
    background-color: blue;
    border-radius: 20px;
}